// $displays: none, inline, inline-block, block, table, table-row, table-cell, flex,
//   inline-flex !default;
// $overflows: auto, hidden !default;

// Background color
.white-bg {
  background-color: $white;
}

// Align item center relative to parent
.align-item-center-pos {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Full width
.full-width {
  width: 100%;
}
