html,
body {
  height: 100%;
}
body {
  margin: 0;
  font: 16px/1.4 Helvetica;
}

// @mixin transform($property) {
//   -webkit-transform: $property;
//   -ms-transform: $property;
//   transform: $property;
// }

// html {
//   &.sunrise {
//     // $accent: #37ccbd;
//     // $base: #3e4653;
//     // $flat: #eceef1;

//     // @import "theme";
//     // @include transform(rotate(30deg));
//   }

//   &.moonlight {
//     $accent: #18c;
//     $base: #2a2a2a;
//     $flat: #f0f0f0;

//     @import "theme";
//   }
// }
